[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
scrapy-user-agents = "*"
scrapy-rotating-proxies = "*"

[dev-packages]
mypy = "*"

[requires]
python_version = "3.8"
